 @import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
 
 
 body{
    font-family: Michroma, serif;
    background: linear-gradient(110deg, #72717196 70%, #0c0c0cfa 100%);
}

p {
    color: rgb(0, 0, 0);
}
.nav-link {
    color: rgb(14, 13, 13);
}

.navbar-nav .nav-link.active {
    color: rgb(131, 7, 247);

}

.navbar-brand img {
    width: 45px;

}

.navbar-toggler {
    background-color: rgb(58, 233, 195);
}

.sidebar {
     color: rgb(39, 6, 228);
     background: linear-gradient(270deg, #ffffff4f 15%, #ffffff36 100%);
}

.card {
    background: linear-gradient(270deg, #ffffff50 15%, #ffffff49 100%);
    
}

.card a {
    text-decoration: none;
    color: rgb(2, 2, 2);
}

.slide-text,
.footer-text {
    color: rgb(0, 0, 0);
    margin: auto auto;
}

.call-animated {
    animation: call 2s ease 0s 1 normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}


@media(max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

footer,
.btn-outline-primary{
    background: linear-gradient(270deg, #ffffff4f 15%, #ffffff36 100%);

}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-text h1 {
    color: black;
}





